<!DOCTYPE html>
<html lang="kos">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="favicon_io" th:href="@{/favicon_io/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/stylesheet.css}"/>
</head>
<body>
<th:block th:insert="~{/fragments/nav :: navFragment}"></th:block>
    <div class="articlearea">
        <h2>내가 요약한 기사들</h2>
        <div class="article height83 over display">
                <div class="board" th:each="summary: ${list}">
                    <div class="list_contents"
                         th:onclick="|location.href='@{/summary/view(summaryId=${summary.id})}'|">
                        <th:block th:text="'요약날짜: ' + ${#temporals.format(summary.createDate, 'yyyy-MM-dd')}"></th:block><br/>
                            <th:block th:text="'제목: ' + ${summary.title}"></th:block><br/>
                                <th:block th:text="'요약 내용:' + ${summary.contents}"></th:block><br/>
                    </div>
                </div>


        </div>
    </div>
</body>
</html>