<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세 줄 요약</title>
    <link rel="favicon_io" th:href="@{/favicon_io/favicon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{../css/stylesheet.css}"/>
</head>
<body>
<th:block th:insert="~{/fragments/nav :: navFragment}"></th:block>
        <div class="articlearea">
                <h2>오늘의 세 줄 요약거리 </h2>
                <div class="article">
                    <div class="arc_title" th:text="${article.title}">이곳은 기사의 제목입니다.</div>
                    <hr/>
                    <div class="arc_contents" th:text="${article.contents}">
                        이곳은 기사의 내용입니다.
                        <br/>
                    </div>
                </div>
                <div class="btn_area"><button class="myButton" th:onclick="|location.href='@{/summary/write(articleId=${article.id})}'|">요약하러 가기</button></div>
        </div>

 
</body>
</html>