<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <link rel="favicon_io" th:href="@{/favicon_io/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/stylesheet.css}"/>
</head>
<body>
<th:block th:insert="~{/fragments/nav :: navFragment}">
</th:block>
    <div class="articlearea">
        <h2>작성한 내용을 수정하는 중이에요.</h2>
                <div class="article">
                     <form th:action="@{/summary/update}" th:object="${summary}" method="post">
                        <div class="arc_title">
                            <input th:value="${summary.title}" type="text" name="title" required placeholder="제목을 입력하세요"/>
                        </div>
                        <hr/>
                        <div class="arc_contents">
                            <input th:value="${summary.contents}" type="text" class="height35" name="contents" required placeholder="내용을 입력하세요"/>
                            <input hidden type="text" name="summaryId" th:value="${summary.id}"/>
                        </div>
                        <div class="btn_area">
                        <button class="myButton" type="submit">수정</button>
                        </div>
                    </form>

    </div>
</body>
</html>