<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글보기</title>
    <link rel="favicon_io" th:href="@{/favicon_io/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/stylesheet.css}"/>
</head>
<body>
<th:block th:insert="~{/fragments/nav :: navFragment}"></th:block>
    <div class="articlearea">
        <h2 th:text="${#temporals.format(summary.createDate, 'yyyy-MM-dd')} +'에 작성한 내용이에요'">작성일이 들어올 곳입니다.</h2>
        <div class="article">
            <div class="arc_title" th:text="${summary.title}"></div>
            <hr/>
            <div class="arc_contents" th:text="${summary.contents}">
                요약한 내용이 들어올 곳입니다.
                <br/>
            </div>
        </div>
        <div class="btn_area">
            <button class="myButton" th:onclick="|location.href='@{/summary/update(summaryId=${summary.id})}'|">수정</button>
            <button class="myButton" th:onclick="|location.href='@{/summary/delete(summaryId=${summary.id})}'|">삭제</button>
        </div>
    </div>

</body>
</html>